__pycache__/
*.pyc
*.pyo
.log
backend/.env
backend/.flaskenv
backend/postgres_data/
backend/logs/
backend/migrations/__pycache__/
backend/migrations
backend/tests/
backend/venv/
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
.idea/
migrations/
frontend/.env
